<button mat-raised-button color="primary">
    ajouter un voyage
</button>
<div class="split"></div>
<mat-card *ngFor="let voyage of voyages" class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{voyage?.destination}}</mat-card-title>
    </mat-card-header>
    <img  mat-card-image src="{{voyage.mainPicture?.src}}" alt="{{voyage?.mainPicture?.alt}}">
    <mat-card-content>
        <p>
            étoiles : {{voyage?.nbStar}} / 5 <br>
            type : {{voyage?.type}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="">
            detail
        </button>
        <button mat-raised-button color="primary" [routerLink]="" class="pad">
            editer
        </button>
        <button mat-raised-button color="primary" class="pad" [routerLink]="">
            supprimer
        </button>
      </mat-card-actions>
</mat-card>
