<p>
    <mat-toolbar color="primary">
      <button mat-button [routerLink]="''">
        page d'acceuil
      </button>
      <button *ngIf="session!=null"  mat-button [routerLink]="'/admin'">
        administration
      </button>

      <div *ngIf="session!=null"  class="spacer"></div>

      <p *ngIf="session!=null" >bonjour admin</p>

      <div class="spacer"></div>

      <button *ngIf="session==null"  mat-button [routerLink]="'/auth'">
        connexion
      </button>
      
      <button *ngIf="session!=null"  mat-button (click)="deco()">
        deconnexion
      </button>
    </mat-toolbar>
</p>